<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/index.css">
</head>

<body>
    <button> <a href="contact.html">Contact</a> </button>
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa ullam eum aut voluptates error totam distinctio
        corrupti doloremque dolores, perferendis, quo recusandae! A, velit! Accusantium at commodi totam odit. Libero?
    </p>
    <button>About</button>
</body>

</html>